language: ruby
rvm:
  - 1.9.2
  - 1.9.3
  - jruby-18mode
  - jruby-19mode
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
# uncomment this line if your project needs to run something other than `rake`:
script: bundle exec rspec spec
